<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>My Website - About</title>
</head>

<body>
    <h1>Nicole Johnson</h1>
    <p>Hello! I am a 21 year old student studying Information Technology at the University of 
        the West Indies, Mona. I am currently in my fourth year of study and I am looking 
        forward to graduating in 2026. I have an interest in website design and I am always 
        trying to find new ways to broaden my horizons. In my free time, I enjoy reading, playing 
        puzzle games, watching movies, listening to music and spending time with my friends.
    </p>
    <p>Here are some things I like:</p>
    <ul>
        <li>Favourite Animals: Cats</li>
        <li>Favourite Colour: Red</li>
        <li>Favourite Movie: Puss in Boots: The Last Wish</li>
        <li>Favourite Anime: The Apothecary Diaries</li>
        <li>Favourite Song: Social Path by Stray Kids (ft LiSA)</li>
    </ul>
    <p>Looking forward to a great 2026!</p>
</body>

</html>